@import "settings";
@import "foundation";

@include breakpoint(small-only) {
	.menu-bar {
		width:100%;
		background-color:#fff;
	}
}

// This is a card container
.custom-card {
  @include card-container(
    $background: #fff, // Background color
    $color: #303134, // Text color
    $border: 0px solid #000, // Border
    $radius: 0px, // Border radius
    $shadow: 0px 0px 1px 1px #cdd0d1, // Box shadow
    $padding: 1rem,
    $margin: 1rem // Margin bottom
  );
}

.project-image { height:200px; overflow:hidden; }

// This is a card divider
.custom-card-divider {
  @include card-divider(
    $background: #ccc,
    $padding: 1rem
  );
}

// This is a card section
.custom-card-section {
  @include card-section(
    $padding: 1rem
  );
  float: left;
}

.custom-card-section p { color: #7b8b97; }

.feeds { background-color:#f5f9fa; border-top: 1px solid #bfc2c3; }
.primary.title-bar { background-color:#fff; }

.grid-frame { overflow: visible; }