@import "settings";
@import "foundation";

// For Screen Only Text
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;  
}

#header {
  background: white;
  box-shadow: 0 0 5px rgba(black, .2);
}

.card-project {
  @include card-container( $background: white, $color: #303134, $padding: 1rem 0 0 0 );
}

.card-project_title {
  @extend h5;
}

.card-project_author {
  @extend h6;
}

.card-project_image {
  @include breakpoint(medium) {
    max-width: 240px;
  }
  @include breakpoint(large) {
    max-width: 320px;
  }
}

.project-list {
  @extend .no-bullet;
  padding-top: 2rem;
  > li {
    margin-bottom: 1rem;
  }
}

.circle-button {
  border-radius: 1000px;
  min-height: 60px;
  min-width: 60px;
}

.call-to-action {
  background: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0rem;
  p {
    @extend h4;
  }
  box-shadow: 0 4px 2px -2px rgba(#000, 0.2);
}

.login-panel {
  background: $primary-color;
  padding: 1rem;
}