@import "settings";
@import "foundation";

#header {
  background: white;
  box-shadow: 0 0 5px rgba(black, .2);
  margin-bottom: 1rem;
}

.card-project_title {
  @extend h3;
}

.card-project_author {
  @extend h4;
}