<div class="grid-container" ng-controller="HeaderController as header">	
	<div class="menu-group">
		<div class="menu-group-left">
			<a ui-sref="homepage"><img src="/assets/img/logo.png" alt="HealthFundIt" class="logo"></a>
		</div>
		<div class="menu-group-right">
			<ul class="menu-bar">
				<li><a href="" ng-sref="projects">Projects</a></li>
				<li><a href="#">Patients</a></li>
				<li><a href="#">Start</a></li>
				<li><a href="#">How it Works</a></li>
				<li class="user-nav-item" ng-hide="header.userLoggedIn"><a href="" zf-toggle="login">Login/Signup</a></li>
				<li class="user-nav-item" ng-show="header.userLoggedIn">
					<a href="" zf-toggle="userMenu">
						<span ng-if="header.user.name">{{header.user.name}}</span>
						<span ng-if="!header.user.name">{{header.user.email}}</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<zf-panel id="userMenu" position="right" class="login-panel">
		<a zf-close="" class="close-button">×<span class="sr-only">Close</span></a>
		<!-- Don't judge -->
		<br>
		<br>
		<div class="block-list">
			<ul>
				<li class="with-chevron"><a href="" ui-sref="account">My Profile</a></li>
				<li class="with-chevron"><a href="" ui-sref="account">Dashboard/Settings</a></li>
				<li class="with-chevron"><a href="" ng-click="header.logout()">Logout</a></li>
			</ul>
		</div>
	</zf-panel>
	<zf-panel id="login" position="right" class="login-panel">
		<a zf-close="" class="close-button">×<span class="sr-only">Close</span></a>
		<section ng-controller="LoginController as login">
			<h4>Login</h4>
			<p ng-show="login.response.success === false">Email/Password is incorrect</p>
			<p ng-show="header.userLoggedIn">You are logged in</p>
			<form ng-hide="header.userLoggedIn" name="loginAccount" ng-submit="login.logMeIn(user)">
				<label for="loginEmail">Email</label>
				<input required="required" id="loginEmail" type="email" ng-model="user.email">
				<label for="loginPassword">Password</label>
				<input required="required" id="loginPassword" type="password" ng-model="user.password">
				<button ng-hide="loginAccount.$invalid" type="submit" class="button secondary">Login</button>
			</form>
		</section>
		<hr>
		<section ng-controller="SignupController as signup">
			<h4>Signup</h4>
			<form name="createAccount" ng-submit="signup.createAccount(user)">
				<label for="signup_name">Name</label>
				<input required="required" id="signup_name" type="text" ng-model="user.name">
				<label for="signup_email">Email</label>
				<input required="required" id="signup_email" type="email" ng-model="user.email">
				<label for="signup_password">Password</label>
				<input required="required" id="signup_password" type="password" ng-model="user.password">
				<button ng-hide="createAccount.$invalid" type="submit" class="button secondary">Signup</button>
			</form>
		</section>
	</zf-panel>
</div>