---
name: homepage
url: /
---

<div ng-controller="HomeController as home" >
  <div class="hero">
    <img src="/assets/img/img_rotator-test.jpg" alt="" />
  </div>
  <div class="call-to-action">
    <div class="grid-container">
      <div class="grid-block vertical medium-horizontal">
        <div class="grid-content">
          <p>Discover today's cutting edge research &amp; Help advance tomorrow's breakthroughs</p>
        </div>
        <div class="grid-content shrink">
          <a href="" class="button large">Submit an Idea</a>
        </div>
      </div>
    </div>
  </div>

  <div ng-controller="campaignController as crowdreview">
    <div class="grid-container">
      <div class="grid-block align-center">
        <ul class="project-list">
          <li ng-repeat="campaign in crowdreview.campaigns track by $index" >

            <!-- Adding link for future -->
            <article class="card-project grid-block vertical medium-horizontal align-center">
              <div class="card-project_image grid-content shrink medium-order-2">
                <img ng-src="{{campaign.featured_image_url}}" alt="">
              </div>
              <div class="grid-content medium-order-3">
                <h1 class="card-project_title"><a ui-sref="campaign({id:campaign.id})" ui-sref-opt="campaign" ng-bind="campaign.title"></a></h1>
                
                <h2 class="card-project_author" ng-repeat="researcher in campaign.researchers">{{researcher.name}}</h2>
                
                <em class="card-project_date">{{campaign.created_at | date:"MM/dd/yyyy 'at' h:mma"}}</em>
                <p class="card-project_excerpt" ng-bind="campaign.excerpt"></p>
                <a href="">
                  <ng-pluralize count="campaign.comments_count"
                       when="{'0': 'Add a Comment',
                              '1': '1 Comment',
                              'other': '{} Comments'}">
                  </ng-pluralize>
                  <span ng-if="!campaign.comments_count">Add a Comment</span>
                </a>
              </div>
              <div class="grid-content shrink medium-order-1">
                <button ng-click="campaign.voted = !campaign.voted" class="button circle-button" ng-class="{'secondary': !campaign.voted}"><span class="sr-only">Vote</span><span class="number-of-votes" ng-bind="campaign.votes_count"></span></button>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>